{% extends "article_list.html" %}
{% block title %}
    {{ blog_type.type_name }}
{% endblock %}
{% block nac_blog_active %}active{% endblock %}
{% block naa_blog_active %}active{% endblock %}

{% block blog_list_title %}标签为：{{ blog_type.type_name }}的博文 （共有{{ page_of_blogs.paginator.count }}篇博客）{% endblock %}
{#{% block content %}#}
{#    <div>#}
{#    <p>标签为：{{ blog_type.type_name }}的博文</p>#}
{#    过滤器#}
{#    {% for blog in blogs %}#}
{#        <a href="/article/{{ blog.pk }}"><h3>{{ blog.title }}</h3></a>#}
{#        <p>{{ blog.content|truncatechars:30 }}</p>{# 显示前30个单词 #}
    {#    两种写链接的方法。href="{% url 'article_detail' article.pk%}"#}
{#    {% empty %}#}
{#        <p>----暂无博客，敬请期待----</p>#}
{#    {% endfor %}#}
{#    <div>共有{{ blogs|length }}篇博客</div>#}
{#    </div>#}
{#{% endblock %}#}
