{% extends "form.html" %}
{% block other_btns %}
    <button id="send_code" class="btn btn-info btn-sm send-email-btn">发送验证码</button>
{% endblock %}
{% block script_extends %}
    <script type="text/javascript">
        $('#send_code').click(function () {
            var email = $('#id_email').val();
            var myreg = /^([\.a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(\.[a-zA-Z0-9_-])+/;
            if(!myreg.test(email)){
                $("#error_tip").text("*邮箱格式错误");
                return false;
            }
            if(email == ''){
                $("#error_tip").text("*邮箱不能为空");
                return false;
            }
            $("#error_tip").text("");
            $.ajax({
                url:'{% url 'bind_email_code' %}',
                type:'GET',
                data:{
                    'email':email
                },
                cache:false,
                success:function (ret) {
                    if(ret.status=='ERROR'){
                        $("#error_tip").text(ret.info);
                    }
                },
                error:function (ret) {
                    $("#error_tip").text("请求失败，请重试");
                }
            });
            // 把按钮变为不可点击
            $(this).addClass('disabled');
            $(this).attr('disabled',true);
            var time = 30;
            $(this).text(time+'s');
            var interval = setInterval(() => {
                if(time <= 0){
                    clearInterval();
                    $(this).removeClass('disabled');
                    $(this).attr('disabled',false);
                    $(this).text('发送验证码');
                    return false;
                }
                time --;
                $(this).text(time+'s');
            },1000);
        })
    </script>
{% endblock %}